# Exercise

Use the same example data.

In [7]:
import numpy as np
# The salaries for the 8 people are
salary_array = np.array([20000,30000,10000,40000,500000,35000, 60000, 20000])
# The genders for the 8 people are
gender_array = np.array(['female', 'male','other', 'female', 'other', 'female', 'male', 'male'])

#### Q1. How many males are there in the data?

In [8]:
# put your code here and use print() to display your answer
idx_m =  gender_array=='male'

n_males = sum(idx_m)

print(n_males)

3

#### Q2. What is the mean, maximum and mininum salary for males?

In [16]:
# put your code here and use print() to display your answer
salary_m = salary_array[idx_m]

mean_m = np.mean(salary_m)
std_m = np.std(salary_m)
max_m = np.max(salary_m)
min_m = np.min(salary_m)

print('mean = ', mean_m)
print('std = ', std_m)
print('max = ', max_m)
print('min = ', min_m)

mean =  36666.666666666664
std =  16996.73171197595
max =  60000
min =  20000

#### Q3. What are the top 3 and bottom 3 salaries in the whole data?

In [20]:
# put your code here and use print() to display your answer
sorted_salary = np.sort(salary_array)
top3 = sorted_salary[ -3 : ] 
bottom3 = sorted_salary[ : 3]
print('top 3 = ', top3)
print('bottom 3= ', bottom3)

top 3 =  [ 40000  60000 500000]
bottom 3=  [10000 20000 20000]