# DataFrames
- reading in data
- extracting values
  - boolean expressions - for subsets of data
  - whole rows
  - whole columns
- dataframes and np.arrays
- Some fiddly things about dataframes
- Some useful dataframe functions
  - head()
  - tail()
  - sort_values()
- Practicing with dataframes
  - compare menus from Starbucks and McDonalds
  - examining data when you first encounter it
  - reasoning about data

## Some notes about projects
#### Do NOT use Kaggle data
- there are frequently data problems that you won't notice until it is too late
- Use publicly available sources
- Identify where the original data came from
  - This has always been important
  - It is more important now with AI/fake news/media manipulation
- You MUST tell us your source

### The project marking rubric

<https://canvas.bham.ac.uk/courses/81492/pages/project-rubric>

### How will homework be marked?
- Exactly like exercises
  - you provide answers
  - OKpy marks (and we check)
  - some plots are needed for homework 2
  - you get to see the whole process in homework 1
  - NOTE: If notebooks don't run all answers after the failure are incorrect

### Dataframes - some fiddly bits...
- once you get it, though, they are powerful
- today the fiddly bits
- have patience
- practice...

# Dataframes

- Rows and columns of data
- Usually imported from .csv files
- Most common form of publicly available datasets

## Dataframes - The most common destination for imported data


### What is a dataframe? -- example

<img src="dataframe_example.png" align="center" width=1200>

### Dataframe rules

- All columns have the same number of values
- A column can only have one **type** of value (int, string float)
- Columns have names
- Rows can have names.  So can rows, but row numbers are more common.

## Pandas - The python package for data frames

Load 'pandas' using:

```
import pandas as pd
```

### Example for dataframes:  Who has more junk food on the menu?  
### McDonalds or Starbucks?
### Read in data.  Put data in a _data frame_

- The pandas function for reading data from a .csv file is:

```
[data frame name] = pd.read_csv("[filename]")
```

```{python}
import pandas as pd

sb_vs_mac = pd.read_csv("McD_vs_StarB_menus.csv")
sb_vs_mac.head()
```

### Example for dataframes:  Who has more junk food on the menu?  
### McDonalds or Starbucks?
### Read in data.  Put data in a _data frame_

- The pandas function for reading data from a .csv file is:

```
[data frame name] = pd.read_csv("[filename]")
```

- A useful first pandas method
  - `[data frame name].head()`
  - Shows the first few rows of a dataframe
    - e.g. to check that it has been read in OK
    - there is also a .tail method if you want to check the last rows in the file

```{python}
import pandas as pd

sb_vs_mac = pd.read_csv("McD_vs_StarB_menus.csv")
sb_vs_mac.head()
```

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

sb_vs_mac=pd.read_csv("McD_vs_StarB_menus.csv")
sb_vs_mac.head()

  Restaurant         Menu_Item  Calories   Fat  Carbs  Fiber  Protein
0  Starbucks      Chonga Bagel       300   5.0     50      3       12
1  Starbucks      8-Grain Roll       380   6.0     70      7       10
2  Starbucks  Almond Croissant       410  22.0     45      3       10
3  Starbucks     Apple Fritter       460  23.0     56      2        7
4  Starbucks  Banana Nut Bread       420  22.0     52      2        6

In [2]:
# look at the fat range
# first put the fat columns in a np.array

fat_values = sb_vs_mac["Fat"]
fat_values

0       5.0
1       6.0
2      22.0
3      23.0
4      22.0
       ...
368    17.0
369    23.0
370    11.0
371    32.0
372    16.0
Name: Fat, Length: 373, dtype: float64

In [3]:
max_fat = np.max(fat_values)
min_fat = np.min(fat_values)
print("range of fat values: ",min_fat," - ",max_fat)

range of fat values:  0.0  -  118.0

### Note number 1!
- ```high_fat_values``` looks and (often) behaves like a np.array
- It is, however, a different type
- Pandas columns are of type `series`
- Sometimes this makes a difference

### Compare

In [4]:
fat_values

0       5.0
1       6.0
2      22.0
3      23.0
4      22.0
       ...
368    17.0
369    23.0
370    11.0
371    32.0
372    16.0
Name: Fat, Length: 373, dtype: float64

### values are in a column

In [5]:
type(fat_values)

pandas.core.series.Series

### type is 'Series'

### numpy array version

In [6]:
# convert column to a np.array
fat_values_numpy_array = np.array(fat_values)
fat_values_numpy_array[1:10]
# just show the first 10 values

array([ 6., 22., 23., 22., 16., 17., 12., 22., 16.])

In [7]:
type(fat_values_numpy_array)

numpy.ndarray

### type is 'numpy.ndarray' (i.e. a numpy array)
- Sometimes this makes a difference
- Some functions want an array rather than a series
- If you see a message complaining that the input to a function is not an array and mentioning the type 'Series', this could be the issue

##  Selecting items from a dataframe - a common operation
- Write a boolean expression that identifies the values you want
- Use the boolean expression to get values from
  - The same column
  - A different column
  - A subset of the dataframe

In [8]:
fat_cutoff = 50
# our cutoff for very fatty items
fatty_stuff = sb_vs_mac[sb_vs_mac["Fat"] > fat_cutoff].copy()
# sb_vs_mac["Fat"] > fat_cutoff  is the boolean expression
# why .copy?  We will get to that below

# fatty_stuff is subset of the dataframe - just the really high fat items
fatty_stuff

,Restaurant,Menu_Item,Calories,Fat,Carbs,Fiber,Protein
141,McDonalds,Big Breakfast (Large Biscuit),800,52.0,56,4,28
144,McDonalds,Big Breakfast with Hotcakes (Regular Biscuit),1090,56.0,111,6,36
145,McDonalds,Big Breakfast with Hotcakes (Large Biscuit),1150,60.0,116,7,36
194,McDonalds,Chicken McNuggets (20 piece),940,59.0,59,3,44
195,McDonalds,Chicken McNuggets (40 piece),1880,118.0,118,6,87

### Notice how you select rows from the dataframe

```
my_data_frame[(boolean expression)]
```

my_data_frame + boolean_expression = selected rows

### Contrast with selecting columns (as above)
- use the column name

In [9]:
fat_values = fatty_stuff["Fat"].copy()
fat_values

141     52.0
144     56.0
145     60.0
194     59.0
195    118.0
Name: Fat, dtype: float64

In [10]:
# notice the index column, 
# both just above (fat_values) and here (fatty_stuff)
fatty_stuff

,Restaurant,Menu_Item,Calories,Fat,Carbs,Fiber,Protein
141,McDonalds,Big Breakfast (Large Biscuit),800,52.0,56,4,28
144,McDonalds,Big Breakfast with Hotcakes (Regular Biscuit),1090,56.0,111,6,36
145,McDonalds,Big Breakfast with Hotcakes (Large Biscuit),1150,60.0,116,7,36
194,McDonalds,Chicken McNuggets (20 piece),940,59.0,59,3,44
195,McDonalds,Chicken McNuggets (40 piece),1880,118.0,118,6,87

### Note number 2! - index values in pandas
- The first item has an index of 141
- Why?
- It was in the 141st position in the **original** dataframe
- The index carries over unless we reset it

### What if we want to see the first item?

In [11]:
fatty_stuff.loc[0,:]
# produces an error

KeyError: 0

In [14]:
# first item index is 141 -- Not obvious what this
# number will be unless you know it already
fatty_stuff.loc[141,:]
# no error this time, but not a great solution since we have to know 141

Restaurant                        McDonalds
Menu_Item     Big Breakfast (Large Biscuit)
Calories                                800
Fat                                    52.0
Carbs                                    56
Fiber                                     4
Protein                                  28
Name: 141, dtype: object

### Solution?  re-make the index

In [15]:
fatty_stuff.reset_index(inplace=True)
fatty_stuff

,index,Restaurant,Menu_Item,Calories,Fat,Carbs,Fiber,Protein
0,141,McDonalds,Big Breakfast (Large Biscuit),800,52.0,56,4,28
1,144,McDonalds,Big Breakfast with Hotcakes (Regular Biscuit),1090,56.0,111,6,36
2,145,McDonalds,Big Breakfast with Hotcakes (Large Biscuit),1150,60.0,116,7,36
3,194,McDonalds,Chicken McNuggets (20 piece),940,59.0,59,3,44
4,195,McDonalds,Chicken McNuggets (40 piece),1880,118.0,118,6,87

### Get first item now

In [16]:
fatty_stuff.loc[0,:]

index                                   141
Restaurant                        McDonalds
Menu_Item     Big Breakfast (Large Biscuit)
Calories                                800
Fat                                    52.0
Carbs                                    56
Fiber                                     4
Protein                                  28
Name: 0, dtype: object

## Note number 3 - Getting rows from a data frame
- Notice how we got rows from the dataframe

#### Use '.loc[row_name,column_name]
- Row 'names' are the row numbers after we reset the index
  - they can be real names (i.e. strings) but this is less common
  - you can use a single column name, e.g.

In [17]:
fatty_stuff.loc[0,"Fat"]

52.0

- or you can use colon notation
```
fatty_stuff.loc[0,starting_column_name:ending_column_name]

In [19]:
fatty_stuff.loc[0,"Calories":"Carbs"]

Calories     800
Fat         52.0
Carbs         56
Name: 0, dtype: object

### colon by itself is a special case -- 'get all'

In [20]:
fatty_stuff.loc[0,:] # get all columns 
# (don't need to know start/end names)

index                                   141
Restaurant                        McDonalds
Menu_Item     Big Breakfast (Large Biscuit)
Calories                                800
Fat                                    52.0
Carbs                                    56
Fiber                                     4
Protein                                  28
Name: 0, dtype: object

## Note number 4 - always use 'copy()' when you extract a subset of values from a dataframe

Do use:
```
fatty_stuff = sb_vs_mac[sb_vs_mac["Fat"] > fat_cutoff].copy()
```
<br>  

Do NOT use (without .copy()):
```
fatty_stuff = sb_vs_mac[sb_vs_mac["Fat"] > fat_cutoff]
```

### Why?
- **Sometimes** (but not always) if you change values in 'fatty_stuff' (a selection from a dataframe)
- you also change values in the original dataframe ('sb_vs_mac')
- That can lead to confusion and diffcult errors

### head() and tail() functions -- check your data after reading!

- ```sb_vs_mac.head()``` shows some initial rows
- ```sb_vs_mac.tail()``` shows some final rows

In [11]:
sb_vs_mac.head()

  Restaurant         Menu_Item  Calories   Fat  Carbs  Fiber  Protein
0  Starbucks      Chonga Bagel       300   5.0     50      3       12
1  Starbucks      8-Grain Roll       380   6.0     70      7       10
2  Starbucks  Almond Croissant       410  22.0     45      3       10
3  Starbucks     Apple Fritter       460  23.0     56      2        7
4  Starbucks  Banana Nut Bread       420  22.0     52      2        6

In [12]:
sb_vs_mac.tail()

,Restaurant,Menu_Item,Calories,Fat,Carbs,Fiber,Protein
368,McDonalds,McFlurry with Oreo Cookies (Small),510,17.0,80,1,12
369,McDonalds,McFlurry with Oreo Cookies (Medium),690,23.0,106,1,15
370,McDonalds,McFlurry with Oreo Cookies (Snack),340,11.0,53,1,8
371,McDonalds,McFlurry with Reese's Peanut Butter Cups (Medium),810,32.0,114,2,21
372,McDonalds,McFlurry with Reese's Peanut Butter Cups (Snack),410,16.0,57,1,10

### List the column names

`sb_vs_mac.columns`

In [ ]:
column_names = sb_vs_mac.columns

### Sorting a dataframe - a common operation

In [ ]:
# You can sort a whole dataframe using the values in one column

highest_cals = sb_vs_mac.sort_values('Calories',ascending=False).copy()
highest_cals.head()
# sb_vs_mac

#### you can also sort just one column after you have extracted it

In [14]:
calorie_values = sb_vs_mac['Calories'].copy()
calorie_values

0      300
1      380
2      410
3      460
4      420
      ...
368    510
369    690
370    340
371    810
372    410
Name: Calories, Length: 373, dtype: int64

In [15]:
# You can sort a 'series' using sort_values()

sorted_calories = calorie_values.sort_values(ascending = False)
sorted_calories[0:10]

195    1880
145    1150
144    1090
147    1050
146     990
194     940
366     930
359     850
362     850
364     820
Name: Calories, dtype: int64

### Exercises - some things to try with dataframes

#### 1 Extract values

Extract all of the McDonalds values for one category
- Try Calories.  Then you could try Fat, Carbs, Fiber, Protein
- Plot the distribution for the McDonalds values
<br>

Extract all of the Starbucks values for the same category
- Plot the distribution for the Starbucks values
<br>

Which fast food provider has higher values?
- Does the shape of the distribution have things that are important to notice?