### Attendance codes

UG: 79887034 
<br>

Masters: 59817179

# Projects -- Our projects require group working

- Group working takes some practice
- Feedback from graduates
  - "I hated group work"
  - "Group work was one of the most valuable experiences in my degree when I think about what I do in my job now"
  - This was the same person

There is a self-directed course on group working here:

group working - "Develop self-awareness about how you work within teams and tools for managing challenging group dynamics"  - students can self-enroll here: <https://canvas.bham.ac.uk/enroll/DXWLP6> "Managing Group Dynamics"

I can't vouch for this course, but you want want to have a look and see if it is useful.

We will cover some of these techniques later

# Project topics
- This is for brain-storming
- You do not need to commit to a topic now
- You do not need (yet) to search for data although that is fine if you want to start
- Groups are self-organizing;  We do not put you in groups
- Please fill in your topic entry - very few are filled in
  - Again - this is for brain-storming

### Data scientist for today:  Ludwig Wittgenstein
<img src=Wittgenstein.png align="right">

- Philosopher
- Born in Austria
- Studied in Cambridge with Bertrand Russell
- Gay man (at a time when that was forbidden)
- Career of two halves
    - Part 1: Show how language could be cast as a logical system (remember Boole?)
    - Part 2: Show how language resisted capture as a logical system  
    
<br>

- Why a data scientist? (many people wouldn't put him in this category, but I think it is useful to think about his insights when thinking about data)
    - Worked on the role of logic and semantics (meaning)
    - This is related to the role of representation (which is related to how data function and what we know about them -- these are very important topics for deep learning)  
    
<br>

- What can we understand from data?
- What are the limits to our understanding?
- What is human? (re: a logical machine (career part 1); not a logical machine (career part 2))
  - Renewed importance now with rise of so-called AI
  - For those interested:  See critique of AI from a historian here: <https://hitchcockian.medium.com/this-is-the-paper-i-gave-to-historians-about-ai-last-week-b1860fd8ecde>
- What is consciousness?

Ultimately these are very important questions.  For example, they might relate to what data are about when we collect them, how we should **use** data and when we shouldn't.

### Consciousness
<img src = WilliamJames.jpg align="right">

One of the most mysterious aspects of human nature.  What is it?

Here is what William James, an important early psychologist, had to say about it:

> "The moment we try to fix our attention upon consciousness and to see what, distinctly, it is," says a recent writer, "it seems to vanish. It seems as if we had before us a mere emptiness. When we try to introspect the sensation of blue, all we can see is the blue; the other element is as if it were diaphanous.â€œ
<br>

> (i.e. we can be aware of the **contents** of consciousness, but not consciousness itself)

We will come back to this in part 2 next time...

(James has a famous definition of attention.  If you don't know it, you can find it here: <https://psychclassics.yorku.ca/James/Principles/prin11.htm>. See the third paragraph - "Everyone knows what attention is...")

# Reminder - Where we are, where we are going
### Where we are
| Python | Data concepts |
|--------|---------------|
|Arrays  | Simulation |
| - storing many datapoints ||
|Loops  | Distributions |
| - repeating operations ||
|Data frames (maybe start today, maybe next time) | Translating a real-world problem into a simulation |
|| Calculating the probability of a real-world outcome in data from a simulated world |
|| What was the answer to the Swain Jury problem? |
<br>

### Where we are going
| Python | Data concepts |
|--------|---------------|
| Dataframes | Our first permutation test - Mozzies and beer |
| - big data in rows and columns | Puts everything together |
| - filtering and accessing data in data frames | - taking a sample |
| - Practice - Who has a more unhealthy menu, McDonalds or Starbucks? | - calculating a statistic (e.g. a mean)|
| ```if``` statements-making decisions | - Repeat many times |
|| - Make a distribution |
|| - Compare to the real world |

# A few starting notes...
#### Two kinds of arrays -- NOTE: they work differently

- The basic python array is a ```list```
- You make a list like this (with [])
```
my_python_list = [1,2,3,4,5]
```

Notice what happens when I multiply by 5

In [1]:
my_python_list = [1,2,3,4,5]
my_python_list*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

#### What has python done?
- With a standard python list, multiplication **repeats** the list

## Another kind of array -- numpy arrays
- The kind of array we will use most often is different
- It is a numpy array
- You make a numpy array like this:
```
my_numpy_array = np.array([1,2,3,4,5])
```

- Notice that there is a python list inside the function.
- ```np.array()``` converts a python list to a numpy array

### Numpy arrays respond differently to operators

What happens with the following:

In [3]:
import numpy as np
my_numpy_array = np.array([1,2,3,4,5])
my_numpy_array*5

array([ 5, 10, 15, 20, 25])

## What is different?
- The values are **not** repeated 5 times
- **_Each_** value is multiplied by 5
<br>

This is **_very_** useful.
- imagine that you have 1000 values
- you need to square all of them

In [14]:
# put 0-999 in a numpy array
my_thousand = np.arange(0,1000)

# square them all using this one line
my_thou_squared = my_thousand ** 2

# print some checks
print(my_thou_squared[0:20])
print(my_thou_squared[980:1000])
# check
print("last value in the array is: ",my_thousand[-1])
print("last value squared is: ",my_thousand[-1]*my_thousand[-1])
print("999 times 999 = ",999*999)

[  0   1   4   9  16  25  36  49  64  81 100 121 144 169 196 225 256 289
 324 361]
[960400 962361 964324 966289 968256 970225 972196 974169 976144 978121
 980100 982081 984064 986049 988036 990025 992016 994009 996004 998001]
last value in the array is:  999
last value squared is:  998001
999 times 999 =  998001

### Some useful functions to note

- `np.sort` sorts an array
- `np.argsort` returns the locations where lowest to highest values are
- `np.diff` returns the difference between values in an array
  - note that this will be one location shorter than the original array
  - for [1,5,4,6]
  - diff will be [4,-1,2]
- `np.abs` returns absolute values (i.e. sign removed)
- `np.sqrt` returns the square root

### Important note -- These operate on all values in the array
- e.g. abs takes the absolute value of all values
``` my_abs_values = np.abs(my_thousands) ```

- np.diff take the difference between all adjacent values in an array


operate on all values


Vs functions that return one value for the whole array


### Some other useful functions

```
    np.sum
    np.min
    np.max
    np.mean
    np.std (standard deviation)
    len (note, not numpy)
```

#### Unlike the functions above, these return _one_ value based on the entire array
- e.g. there is _one_ minimum value


### The three boys problem generalized

- What is the probability that a family of size Y has X boys?
- Plan:
    - Write a function to calculate the number of boys in a family of size Y
    - Fill an array with results (the number of boys in each family)
    - Use a loop to do this for 100 families
    - How many have X boys (you can choose X and Y values)
    - What is the probability of X?

Extra cool points:
- Do 100 repetitions of your probability based on 100 families
  - You may want to do a another function that returns the probability for Z families (e.g.100), each of size Y (e.g. 4) of having X boys (e.g. 3)
  - What is the _distribution_ of probabilities?
  - At what point would you say a couple has a different than 50/50 chance of a boy?

(Famously King Henry VIII had a problem producing male heirs which he blamed on his wives.  It is more likely that the problem was his.)

<img src = "Henry_VIII_infertility.png">


<!-- #region -->
### The Swain Jury

#### A Reminder of the problem:


<img src="swain_vs_alabama.png">

<https://en.wikipedia.org/wiki/Swain_v._Alabama>
<!-- #endregion -->

### Notice the last sentence

> "The overall percentage disparity has been small and reflects
> no studied attempt to include or exclude a specified number of
> Negros"

<sub><sup>(the outdated term for people of colour was in common usage at the time)</sup></sub>

That specified number for "include" would be 0

Was the Supreme Court correct?


### Was this an old updated case from the distant past?

<img src="fiom.png">

The case:
- Fiat factory at Pomigliano
- Union representing workers was called FIOM
- The factory was reorganized
- 4387 total workers were fired
- 382 were members of FIOM
- 1893 workers were re-hired by the reorganized company
- Of the 1893 re-hired, none were members of FIOM
- Or was this anti-union discrimination?

Was 0 re-hired by chance?

<img src="fiom_result_plot.png">

Chance based on a simulation of 10 million trials - less than 1 in 10 million (it never occurred)

You can calculate an exact value, but it is hard to comprehend it is so small.
Visualization and an easily understandable result were important for the trial.

The court ordered Fiat to re-hire 145 workers (the mean after some technical issues
around who was a member when were resolved)

A bit of Python (actually R in that case) made a big difference for 145 families


### The Swain Jury
- Will you simulate a fair jury or an unfair jury?
- How do you simulate one fair jury?
  - Remember the makeup of the community (26% vs 74%)
  - How do you simulate the community?
  - How do you pick 12 people at random from the community?
  - What is the difference between "with replacement" and "without replacement"?
  - Which do you want?
- One jury is only a single value.  What is the **range** of values you expect if the jury selection was fair?
- To simulate the fair world, what steps do you need to repeat?
- Which values will you store?
- How will you calculate the probability of a jury with 0 black members?


## Dataframes - The most common destination for imported data


### What is a dataframe? -- example

<img src="dataframe_example.png" align="center" width=1200>

Data frames:
- data in rows and columns
- columns have one type
- rows are all the same length
- columns have a name
- columns also have a number
  - You can use either the name or number to access column information -- we will see how soon
- Rows also have names and numbers
  - The row name is called the 'row index'


## IMPORTANT: Pandas - The python package with functions for doing things with data frames

Load 'pandas' using:

```
import pandas as pd
```


### Example for dataframes:  Who has more junk food on the menu?  
### McDonalds or Starbucks?
### Read in data.  Put data in a _data frame_

- The pandas function for reading data from a .csv file is:

```
[data frame name] = pd.read_csv("[filename]")
```

- A useful first pandas method
  - `[data frame name].head()`
  - Shows the first few rows of a dataframe
    - e.g. to check that it has been read in OK
    - there is also a .tail method if you want to check the last rows in the file

```{python}
import pandas as pd

sb_vs_mac = pd.read_csv("McD_vs_StarB_menus.csv")
sb_vs_mac.head()
```

In [19]:
sb_vs_mac.tail()

,Restaurant,Menu_Item,Calories,Fat,Carbs,Fiber,Protein
368,McDonalds,McFlurry with Oreo Cookies (Small),510,17.0,80,1,12
369,McDonalds,McFlurry with Oreo Cookies (Medium),690,23.0,106,1,15
370,McDonalds,McFlurry with Oreo Cookies (Snack),340,11.0,53,1,8
371,McDonalds,McFlurry with Reese's Peanut Butter Cups (Medium),810,32.0,114,2,21
372,McDonalds,McFlurry with Reese's Peanut Butter Cups (Snack),410,16.0,57,1,10

### List the column names

`sb_vs_mac.columns`

In [3]:
column_names = sb_vs_mac.columns

Index(['Restaurant', 'Menu_Item', 'Calories', 'Fat', 'Carbs', 'Fiber',
       'Protein'],
      dtype='object')

### Get column values from a dataframe using the column name

To get the values in the 'Calories' column, use

```
sb_vs_mac['Calories']
```

In [4]:
calorie_values = sb_vs_mac['Calories']
type(calorie_values)

pandas.core.series.Series

In [21]:
calorie_values[0:10]

0    300
1    380
2    410
3    460
4    420
5    380
6    420
7    240
8    350
9    320
Name: Calories, dtype: int64

### Using boolean values to select rows from a dataframe

- It is very common to want to select just some rows from a dataframe
- First make an boolean array with True/False values that selects what you want
- Use the boolean array to get rows from the dataframe

<br>

- HINTS:
  - Use `.copy()` when extracting values from a dataframe
  - `[new dataframe] = [dataframe name][boolean_array].copy()`
  - e.g. `low_cal_items = sb_vs_mac[low_cal].copy()`
  - we will see why later

In [22]:
# Example: We want to see all of the items with calories less than 400

print(calorie_values[0:5])

# boolean expression to make a boolean array
low_cal = sb_vs_mac['Calories'] < 400

# show the first 5 values to check
low_cal[0:5]

0    300
1    380
2    410
3    460
4    420
Name: Calories, dtype: int64

0     True
1     True
2    False
3    False
4    False
Name: Calories, dtype: bool

In [23]:
# low_cal_items = sb_vs_mac[low_cal] # not this
low_cal_items = sb_vs_mac[low_cal].copy()
low_cal_items["Menu_Item"]

0                                Chonga Bagel
1                                8-Grain Roll
5      Blueberry Muffin with Yogurt and Honey
7                            Butter Croissant
8                            Butterfly Cookie
                        ...
350        Strawberry Banana Smoothie (Large)
351          Mango Pineapple Smoothie (Small)
352         Mango Pineapple Smoothie (Medium)
353          Mango Pineapple Smoothie (Large)
370        McFlurry with Oreo Cookies (Snack)
Name: Menu_Item, Length: 221, dtype: object

### You can work with column values like with an np.array

Doing things to all values in a series:
- [series name] + 10
  - adds 10 to all of the values in the columns

In [24]:
test = calorie_values + 10
test[0:10]

0    310
1    390
2    420
3    470
4    430
5    390
6    430
7    250
8    360
9    330
Name: Calories, dtype: int64

### Sometimes you need to convert a series to a numpy array

In [25]:
# Here is a series

print(calorie_values[0:10])

0    300
1    380
2    410
3    460
4    420
5    380
6    420
7    240
8    350
9    320
Name: Calories, dtype: int64

### A `Series` is printed in a column

In [26]:
# check on the type using the 'type' function

type(calorie_values)

pandas.core.series.Series

### A numpy array is printed in a row

In [27]:
import numpy as np
array_of_cal_values = np.array(calorie_values)
print(array_of_cal_values[0:10])

[300 380 410 460 420 380 420 240 350 320]

In [28]:
# check the type

type(array_of_cal_values)sb_vs_mac.tail()

numpy.ndarray

### Sorting

- You can sort a series using the function `sort_values()`

In [5]:
# You can sort a 'series' using sort_values()

sorted_calories = calorie_values.sort_values(ascending = False)
sorted_calories[0:10]

195    1880
145    1150
144    1090
147    1050
146     990
194     940
366     930
362     850
359     850
364     820
Name: Calories, dtype: int64

- You can also sort a whole dataframe using `sort_values()`
  - Notice that you have to say which column to sort on

In [6]:
# You can also sort a whole dataframe using the values in one column

highest_cals = sb_vs_mac.sort_values('Calories',ascending=False).copy()
highest_cals.head()
# sb_vs_mac

,Restaurant,Menu_Item,Calories,Fat,Carbs,Fiber,Protein
195,McDonalds,Chicken McNuggets (40 piece),1880,118.0,118,6,87
145,McDonalds,Big Breakfast with Hotcakes (Large Biscuit),1150,60.0,116,7,36
144,McDonalds,Big Breakfast with Hotcakes (Regular Biscuit),1090,56.0,111,6,36
147,McDonalds,Big Breakfast with Hotcakes and Egg Whites (La...,1050,50.0,115,7,35
146,McDonalds,Big Breakfast with Hotcakes and Egg Whites (Re...,990,46.0,110,6,35

### Exercises - some things to try with dataframes

#### 1 Extract values

Extract all of the McDonalds values for one category
- Try Calories.  Then you could try Fat, Carbs, Fiber, Protein
- Plot the distribution for the McDonalds values
<br>

Extract all of the Starbucks values for the same category
- Plot the distribution for the Starbucks values
<br>

Which fast food provider has higher values?
- Does the shape of the distribution have things that are important to notice?